* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
    margin-top: 10px;
}
.box-element{
    background-color: white;
    border-radius: 4px;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    padding: 10px;
}

#user-icon{
    margin-right:10px;
    cursor: pointer;
    
}

.thumbnail{
    width: 100%;
}

.btn-outline-dark{
    border-radius: 0;
}


.login-container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333333;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666666;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.register-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333333;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666666;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}