{% extends 'learning_logs/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block content %}
<h2>Entries:</h2>
<ul>
    {% for entry in entries %}
        <li>{{ entry.date_added | date:'M d Y H:i'}}</li>
        <li>{{ entry.text | linebreaks }}</li>
        <a class="btn btn-success" href="{% url 'learning_logs:edit_entry' entry.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'learning_logs:delete_entry' entry.id %}">Delete</a>
    {% empty %}
        <h1>No entries yet!</h1>
    {% endfor %}
</ul>
<a class="btn btn-outline-dark" href="{% url 'learning_logs:new_entry' topic.id %}">New entry&#x2192;</a>
{% endblock content %}